In [1]:
from dotenv import load_dotenv
import os

load_dotenv()
nyc_app_token = os.getenv("NYC_OPENDATA_APPTOKEN")

In [2]:
from data_service import CrashDataService

crash_service = CrashDataService(nyc_app_token=nyc_app_token, from_year=2021)

In [3]:
non_intersection_crashes_recent = crash_service.get_non_intersection_crashes(
    buffer=32, 
    join_speed_humps=True,
    join_speed_limits=True,
    destination_file_name="non_intersection_crashes_2021.csv")

In [4]:
non_intersection_crashes_recent.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 78867 entries, 0 to 78866
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   collision_id  78867 non-null  object
 1   geometry      78867 non-null  geometry
 2   datetime      78867 non-null  datetime64[ns]
 3   physicalid    78867 non-null  object
 4   shape_leng    78867 non-null  object
 5   humps         78867 non-null  float64
 6   postvz_sl     78529 non-null  float64
dtypes: datetime64[ns](1), float64(2), geometry(1), object(3)
memory usage: 4.2+ MB

In [5]:
crash_service.crashes.head()

  collision_id            datetime                        geometry
3      4456314 2021-09-11 09:35:00  POINT (1021285.187 182384.298)
4      4486609 2021-12-14 08:13:00  POINT (1007194.075 188233.330)
6      4486555 2021-12-14 17:05:00   POINT (996219.950 197653.931)
7      4486660 2021-12-14 08:17:00  POINT (1030859.472 255616.610)
8      4487074 2021-12-14 21:10:00  POINT (1012794.294 184018.878)