In [1]:
from dotenv import load_dotenv
import os

load_dotenv()
nyc_app_token = os.getenv("NYC_OPENDATA_APPTOKEN")

In [2]:
from data_service import CrashDataService

crash_service = CrashDataService(
    nyc_app_token=nyc_app_token,
    from_year=2021,
    extra_columns=[
        "number_of_pedestrians_killed",
        "contributing_factor_vehicle_1",
        "contributing_factor_vehicle_2",
        "contributing_factor_vehicle_3",
        "contributing_factor_vehicle_4",
        "contributing_factor_vehicle_5",
    ],
)

In [5]:
non_intersection_crashes_recent = crash_service.get_non_intersection_crashes(
    buffer=32,
    join_speed_humps=True,
    join_speed_limits=True,
    join_trees=True,
    destination_file_name="non_intersection_crashes_2021.csv",
)

In [6]:
non_intersection_crashes_recent.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 78947 entries, 0 to 78946
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   collision_id                   78947 non-null  object
 1   geometry                       78947 non-null  geometry
 2   datetime                       78947 non-null  datetime64[ns]
 3   physicalid                     78947 non-null  object
 4   shape_leng                     78947 non-null  object
 5   st_width                       78947 non-null  object
 6   number_of_pedestrians_killed   78947 non-null  object
 7   contributing_factor_vehicle_1  78485 non-null  object
 8   contributing_factor_vehicle_2  57483 non-null  object
 9   contributing_factor_vehicle_3  7918 non-null   object
 10  contributing_factor_vehicle_4  2301 non-null   object
 11  contributing_factor_vehicle_5  706 non-null    object
 12  humps                          78947 non-null  float64
 13  postvz_sl                      78609 non-null  float64
 14  trees                          78947 non-null  float64
dtypes: datetime64[ns](1), float64(3), geometry(1), object(10)
memory usage: 9.0+ MB

In [7]:
crash_service.crashes.head()

,collision_id,number_of_pedestrians_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,datetime,geometry
3,4456314,0,Unspecified,NaN,NaN,NaN,NaN,2021-09-11 09:35:00,POINT (1021285.187 182384.298)
4,4486609,0,NaN,NaN,NaN,NaN,NaN,2021-12-14 08:13:00,POINT (1007194.075 188233.330)
6,4486555,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,2021-12-14 17:05:00,POINT (996219.950 197653.931)
7,4486660,0,Unspecified,Unspecified,NaN,NaN,NaN,2021-12-14 08:17:00,POINT (1030859.472 255616.610)
8,4487074,0,Driver Inexperience,Unspecified,NaN,NaN,NaN,2021-12-14 21:10:00,POINT (1012794.294 184018.878)